/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
    padding: 60px 15px 0;
  }

  .footer {
    background-color: transparent;
    text-align: center;
  }

  .footer > .container {
    padding-right: 150px;
    padding-left: 150px;
  }

  code {
    font-size: 80%;
  }

.home{
    background-image: url('../images/background.jpg');
    color: white;
}
